@import 'override-variables';


$app-color-error: #E50052;
$app-color-blanc: #FFF;
$app-color-bleu: #009AA6;
$app-color-noir: #000;

$app-font-Black: 'AvenirLT95Black'; 
$app-font-Medium: 'AvenirLT65Medium'; 
$app-font-Book: 'AvenirLT45Book'; 
$app-font-Roman: 'AvenirLTStd55Roman';

$app-caractere-tiret: "- ";
